$font-family: 'Fira Code', monospace;
$base-color: #333;
$background-color: #fff;
$accent-colors: (
  'light': #ddd,
  'primary': #1a1a1a,
  'string': #028000,
  'number': #1c00cf,
  'boolean': #ff8c00,
  'null': #a9a9a9,
);
$hover-background-color: #e6e6e6;
$icon-color: #1a1a1a;
$transition-properties: (
  'duration': 0.2s,
  'easing': ease-in-out,
);

// Base viewer styles
.viewer {
  font-family: $font-family;

  color: $base-color;
  line-height: 1.5;
  font-size: 0.9rem;

  border-radius: 4px;
  overflow: auto;
}

// Node styles
.node {
  margin-left: 1rem;
  position: relative;

  &.nested {
    &::before {
      content: '';
      position: absolute;
      left: -11px;
      top: 0;
      bottom: 0;
      border-left: 1px solid map-get($accent-colors, 'light');
    }
  }
}

.key {
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 15px; // Adjust padding to fit the larger arrow icon

  &:hover,
  &:active {
    background-color: $hover-background-color;
    text-decoration: underline;
  }

  &.collapsible::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent; // Create arrow shape
    border-left-color: $icon-color; // Arrow color
    transform: translateY(-50%) rotate(0deg); // Ensure arrow points right initially
    transition: transform 0.2s ease-in-out; // Use mixin or explicit transition
  }

  &.expanded.collapsible::before {
    transform: translateY(-50%) rotate(90deg); // Rotate arrow to point down
  }
}

// Value styles
.value {
  .primitiveValue {
    margin-left: 3px;
    color: map-get($accent-colors, 'primary');

    &.string {
      color: map-get($accent-colors, 'string');
    }
    &.number {
      color: map-get($accent-colors, 'number');
    }
    &.boolean {
      color: map-get($accent-colors, 'boolean');
    }
    &.null {
      color: map-get($accent-colors, 'null');
      font-style: italic;
    }
  }
}

// Icon styles
.array::before,
.object::before {
  color: $icon-color;
}
