.json-viewer {
  font-family: monospace;
}

.json-node > .json-node {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.json-key {
  cursor: pointer;
}

.json-key::before {
  content: '" "'; /* Use actual icons or unicode characters here */
  display: inline-block;
  margin-right: 5px;
}

.json-value {
  margin-left: 20px;
}
