$font-family: monospace;
$base-color: rgb(0, 43, 54);
$background-color: transparent;
$accent-colors: (
  'light': #ddd,
  'primary': #1a1a1a,
  'string': #028000,
  'number': #4d50ee,
  'boolean': #ff8c00,
  'null': #e30000,
);
$hover-background-color: #f6f6f6;
$arrow-size: 5px;
$transition-duration: 0.2s;
$transition-easing: ease-in-out;
$icon-color: rgb(42, 161, 152);
$dots-color: rgb(203, 75, 22);

.viewer {
  font-family: $font-family;
  color: $base-color;
  background: $background-color;
  font-size: 13px;
  line-height: 1.5;
}

.viewer > node > .node:first-child::before {
  display: none;
}
.node {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    height: 100%;
    border-left: 1px solid map-get($accent-colors, 'light');
  }

  &:first-child {
    margin-top: 0;
  }

  .key {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    padding: 0px 5px;

    &.collapsible:hover,
    &.collapsible:active {
      background-color: $hover-background-color;
    }

    &.primitive {
      cursor: default;
      &::before {
        content: none; // Remove arrow for primitive values
      }
      &:hover,
      &:active {
        background-color: transparent; // Remove hover effect for primitive values
      }
    }
  }

  .keyName {
    margin-right: 5px;
  }

  .dots {
    color: $dots-color;
  }
}

.arrow {
  display: inline-block;
  margin-right: 5px;
  border: $arrow-size solid transparent;
  border-left-color: $icon-color;
  transition: transform $transition-duration $transition-easing;
  transform-origin: center;

  &.collapsed {
    transform: rotate(0deg);
  }

  &.expanded {
    transform: rotate(90deg);
  }
}

.primitiveValue {
  margin-left: 5px;

  @each $type, $color in $accent-colors {
    &.#{$type} {
      color: $color;
    }
  }

  &.null {
    font-style: italic;
    text-transform: uppercase;
  }
}

.copyButton {
  cursor: pointer;
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
  transition: background-color 0.3s $transition-easing,
    opacity 0.1s $transition-easing;
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.copySuccess {
  background-color: #7ae582;
  opacity: 1;
}

.node:hover > .copyButton,
.node:focus-within > .copyButton {
  opacity: 1;
}
